/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color:black;
}

.title-top {
  position: absolute;
  top: 10%;
  left: 10%;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 20%;
  color: black;
  /*font-family: 'Dela Gothic One', cursive;*/
  /*text-shadow: 2px 2px white;*/
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

/* .board {
  position: fixed;
  //left: 10%;
  //width:80%;
} */

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 39px;
  font-size: 100%;
}

/* Top right text */
.top-right {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 83%;
  right: 10%;
  width: 9.8%;
  height: 10%;
  font-size: 110%;
}



.flyer img{
  position: absolute;
  width: 20%;
  top: 20%;
  left: 20%;
}


/**** Button *****/
button {
  	border-radius: 5px;
    margin: 5px;
    border-color: darkgrey;
}

/*** Navigation ***/
.navigation {
  font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	width: 100%;
  font-size: 120%;
}

.navigation li{
	text-align: center;
	margin: 5px;
  padding-top: 0.5%;
  padding-right: 2%;
  padding-left: 2%;
}

.navigation a{
	text-decoration: none;
}

.links a:visited{
	color:rgb(0, 0, 0);
}

.links a:link{
  color:rgb(0, 0, 0);
}

.links a:hover{
	color:#808088;
  text-decoration: none;
}

.links{
	text-align: center;
	display: inline-block;
  color: black;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 33%;
  left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}

/* Add styles to the form container */
.form-container {
  max-width: 250px;
  padding: 10px;
  background-color: white;
}

#post-1{
  z-index: 1;
  display: flex;
  background-color: #89CFF0; 
  flex: 1 1 auto;
  width: 15rem; 
  margin: 10px;
  word-wrap: break-word;
 /* position: absolute;
  top: 30%;
  left: 10%;
  right: 30%;*/
}
#post-2{
  z-index: 1;
  flex: 1 1 auto;
  background-color: #ADD8E6; 
  word-wrap: break-word;
  width: 20rem; 
  margin: 10px;
 /* position: absolute;
  top: 40%;
  left: 10%;
  right: 30%;*/
} 

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 1px 0 1px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: black;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

.trash {
  display: none;
}

#post-start {
  display: none;
}

#post-start-title {
  display: none;
}

#post-area-ad {
  opacity: 0;
}

#post-area-ev {
  opacity: 0;
}

#post-area-ch {
  opacity: 0;
}

#uploadForm {
  width: 20%;
  padding: 7px;
}

#upload-title {
  padding-bottom: 3px;
}
